<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../stylesheet/styles.css">
</head>
<body>
<header class="nav">
    <div class="navbar_child">
        <img src="../images/logo/logo_full.png" alt="Logo" width="90">
        <nav>
            <ul>
                <li>Home</li>
                <li>TV Shows</li>
                <li>Movies</li>
                <li>New & Popular</li>
                <li>My List</li>
            </ul>
        </nav>
    </div>
    <div class="navbar_child">
        <img src="../images/illustration/notification.png" alt="Notification" width="30">
        <img src="../images/profile/chicken.jpg" alt="profile" width="30">
    </div>
</header>

<main>
    <section class="hero">
        <img src="../images/movie/hero.jpg" alt="Featured Movie">
        <div class="hero-info">
            <img src="../images/illustration/hero.png" alt="Featured Movie">
            <div class="buttons">
                <button>
                    <img src="../images/illustration/play_movie.png" alt="Play">
                </button>
                <button id="more_info_button">
                    More info
                </button>
            </div>
        </div>
    </section>

    <section class="category">
        <h3>For You</h3>
        <div class="row">
            <img src="../images/movie/jawan.png" alt="Jawan">
            <img src="../images/movie/bro.png" alt="Bro">
            <img src="../images/movie/malayam.png" alt="Malayalam Movie">
            <img src="../images/movie/shankai.png" alt="Shankai">
            <img src="../images/movie/shetty_polishetty.png" alt="Shetty Polishetty">
            <img src="../images/movie/mismatched.png" alt="Mismatched">
            <img src="../images/movie/kung_fu_panda.png" alt="Kung fu panda">
            <img src="../images/movie/lost_in_space.png" alt="Lost in Space">
            <img src="../images/movie/strong_girl_nam-soon.png" alt="Strong Girl Nam-Soon">
            <img src="../images/movie/lucifer.png" alt="Lucifer">
        </div>
    </section>

    <section class="category">
        <h3>Trending Now</h3>
        <div class="row">
            <img src="../images/movie/mad.png" alt="Mad">
            <img src="../images/movie/shetty_polishetty.png" alt="Shetty Polishetty">
            <img src="../images/movie/malayam.png" alt="Malayalam Movie">
            <img src="../images/movie/mismatched.png" alt="Mismatched">
            <img src="../images/movie/shankai.png" alt="Shankai">
            <img src="../images/movie/squid_game.png" alt="Squid Game">
            <img src="../images/movie/sweet_tooth.png" alt="Sweet Tooth">
            <img src="../images/movie/spiderman_2.png" alt="Spiderman 2">
            <img src="../images/movie/kaala_paani.png" alt="Kaala Paani">
            <img src="../images/movie/gemini_man.png" alt="Gemini Man">
        </div>
    </section>

    <section class="category">
        <h3>Critically Acclaimed TV Shows</h3>
        <div class="row">
            <img src="../images/movie/life_on_our_planet.png" alt="Life on our Planet">
            <img src="../images/movie/lost_in_space.png" alt="Lost in Space">
            <img src="../images/movie/shankai.png" alt="Shankai">
            <img src="../images/movie/sweet_tooth.png" alt="Sweet Tooth">
            <img src="../images/movie/the_call.png" alt="The Call">
            <img src="../images/movie/the_conjuring.png" alt="The Conjuring">
            <img src="../images/movie/the_night_agent.png" alt="The Night Agent">
            <img src="../images/movie/true_beauty.png" alt="True Beauty">
            <img src="../images/movie/we_have_a_ghost.png" alt="We Have a Ghost">
            <img src="../images/movie/strong_girl_nam-soon.png" alt="Strong Girl Nam-Soon">
        </div>
    </section>
    <footer>
        <img src="../images/illustration/footer.png" alt="Footer" width="100%">
    </footer>
</main>
<div>
    <img src="../images/illustration/footer.png" alt="Footer" width="100">
</div>
</body>
</html>
