<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Name Placeholder</title>
        <link rel="stylesheet" lang="text/css" href="../stylesheet/styles.css">
        <script>
            var video, play_button, seek_bar, time_played_text, total_time_text;

            function initialize_player()
            {
                //object refs
                video = document.getElementById('movie_video');
                play_button = document.getElementById('play_pause_button');
                seek_bar = document.getElementById('seek_bar');
                time_played_text = document.getElementById('time_played_text');
                total_time_text = document.getElementById('total_time_text');

                //event listeners
                play_button.addEventListener('click', play_pause, false);
                seek_bar.addEventListener('change', seek_video, false);
                seek_bar.addEventListener('input', updateProgress, false);
                video.addEventListener('timeupdate', seek_time_update, false);
                video.addEventListener('click', play_pause, false);
                document.body.onkeyup = function(e)
                {
                    if (e.code == "Space")
                    {
                        play_pause();
                    }
                }
            }

            window.onload = initialize_player;

            function play_pause()
            {
                if (video.paused)
                {
                    video.play();
                    play_button.src = "../images/illustration/pause.png";
                }
                else
                {
                    video.pause();
                    play_button.src = "../images/illustration/play_main.png";
                }
            }

            function seek_video()
            {
                var seek_to = video.duration * (seek_bar.value / 100);
                video.currentTime = seek_to;
            }

            function updateProgress()
            {
                const value = ((seek_bar.value - seek_bar.min) / (seek_bar.max - seek_bar.min)) * 100;
                seek_bar.style.background = `linear-gradient(to right, #FF0000FF ${value}%, #808080FF ${value}%)`;

                if (video.currentTime == video.duration)
                {
                    play_button.src = "../images/illustration/play_main.png";
                }
            }

            function seek_time_update()
            {
                var new_time = video.currentTime * (100 / video.duration);
                seek_bar.value = new_time;
                updateProgress();

                // Calculate current time
                let curr_hour = Math.floor(video.currentTime / 3600);
                let curr_minutes = Math.floor((video.currentTime % 3600) / 60);
                let curr_seconds = Math.floor(video.currentTime % 60);

                // Calculate total duration
                let dur_hour = Math.floor(video.duration / 3600);
                let dur_minutes = Math.floor((video.duration % 3600) / 60);
                let dur_seconds = Math.floor(video.duration % 60);

                // Pad values to be two digits
                if (curr_hour < 10) curr_hour = '0' + curr_hour;
                if (curr_minutes < 10) curr_minutes = '0' + curr_minutes;
                if (curr_seconds < 10) curr_seconds = '0' + curr_seconds;

                if (dur_hour < 10) dur_hour = '0' + dur_hour;
                if (dur_minutes < 10) dur_minutes = '0' + dur_minutes;
                if (dur_seconds < 10) dur_seconds = '0' + dur_seconds;

                // Update the text display elements
                time_played_text.innerHTML = `${curr_hour}:${curr_minutes}:${curr_seconds}`;
                total_time_text.innerHTML = `${dur_hour}:${dur_minutes}:${dur_seconds}`;
            }
        </script>
    </head>
    <body>
    <main class="main_container movie_player_main_container">
        <nav class="nav">
            <img alt="back arrow" src="../images/illustration/back.png" width="3%">
        </nav>
        <div class="movie_display">
            <video autoplay id="movie_video" width="100%" height="100%">
                <source src="../images/video/intro.mp4" type="video/mp4">
                    <source src="../images/video/intro.ogg" type="video/ogg">
                </video>
            </div>
            <footer class="movie_display_footer">
                <div class="time_tracker">
                    <p class="time_played_display" id="time_played_text">0:00:00</p>
                    <p class="total_time_display" id="total_time_text">2:13:40</p>
                </div>
                <input class="seek_bar" id="seek_bar" type="range" min="0" max="100" value="0" step="1">
                <div class="movie_controls">
                    <div>
                        <img id="play_pause_button" alt="pause" src="../images/illustration/pause.png" width="17%">
                        <img alt="back_10" src="../images/illustration/back_10.png" width="17%">
                        <img alt="skip_10" src="../images/illustration/skip_10.png" width="17%">
                        <img alt="volume" src="../images/illustration/volume.png" width="17%">
                    </div>
                    <p class="movie_display_title">Movie Title</p>
                    <div class="right_controls">
                        <img alt="subtitle" src="../images/illustration/subtitle.png" width="25%">
                        <img alt="fullscreen" src="../images/illustration/full_screen.png" width="25%">
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>