<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Name Placeholder</title>
        <link rel="stylesheet" lang="text/css" href="../stylesheet/styles.css">
    </head>
    <body>
        <main class="movie_display_container">
            <nav class="movie_display_nav">
                <img alt="back arrow" src="../images/back_arrow.png">
                <h5>13 Reasons Why</h5>
                <img alt="logo_short" src="../images/logo/logo_short.png" width="50px">
            </nav>
            <div class="movie_display"></div>
            <footer></footer>
        </main>
    </body>
</html>