<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Name Placeholder</title>
        <link rel="stylesheet" lang="text/css" href="../stylesheet/styles.css">
    </head>
    <body>
        <main class="movie_display_container">
            <nav class="movie_display_nav">
                <img alt="back arrow" src="../images/illustration/back.png" width="3%">
            </nav>
            <div class="movie_display"></div>
            <footer class="movie_display_footer">
                <div class="time_tracker">
                    <p class="time_played_display">0:00:00</p>
                    <p class="total_time_display">2:13:40</p>
                </div>
                <div class="progress_bar_container">
                    <div class="progress_bar"></div>
                </div>
                <div class="movie_controls">
                    <div>
                        <img alt="pause" src="../images/illustration/pause.png">
                        <img alt="back_10" src="../images/illustration/back_10.png">
                        <img alt="skip_10" src="../images/illustration/skip_10.png">
<!--                        <img alt="volume" src="../images/illustration/volume.png">-->
                    </div>
                    <p class="movie_display_title">Movie Title</p>
                    <div class="right_controls">
                        <img alt="subtitle" src="../images/illustration/subtitle.png">
                        <img alt="fullscreen" src="../images/illustration/full_screen.png">
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>