<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch List</title>
    <link rel="stylesheet" href="../stylesheet/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper">
    <header class="nav watchlist_nav">
        <div class="navbar_child">
            <img src="../images/logo/logo_full.png" alt="Logo" width="90">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="tv_shows.html">TV Shows</a></li>
                    <li><a href="movies.html">Movies</a></li>
                    <li><a href="watchlist.html">My List</a></li>
                </ul>
            </nav>
        </div>
        <div class="navbar_child">
            <img src="../images/illustration/notification.png" alt="Notification" width="30">
            <img src="../images/profile/chicken.jpg" alt="profile" width="30">
        </div>
    </header>
    <main class="watchlist_main">
        <section class="preview_container">
            <div class="preview_content">
                <div class="preview_image">
                    <img src="../images/movie/preview_hero.jpg" alt="Preview Movie">
                </div>
                <div class="preview_info_containers">
                    <div class="preview_progress_container">
                        <div class="preview_progress_bar">
                            <div class="preview_progress_fill"></div>
                        </div>
                        <p>20 of 150m</p>
                    </div>
                    <div class="preview_controls_container">
                        <button class="image_buttons">
                            <a href="movie_player.html">
                                <img src="../images/illustration/play_movie.png" alt="Play" width="110px">
                            </a>
                        </button>
                        <button class="image_buttons">
                            <a href="#">
                                <img src="../images/illustration/add.png" alt="Add" width="60px">
                            </a>
                        </button>
                        <button class="image_buttons">
                            <a href="#">
                                <img src="../images/illustration/like.png" alt="Like" width="53px">
                            </a>
                        </button>
                        <div></div>
                        <button class="image_buttons">
                            <a href="#">
                                <img src="../images/illustration/mute.png" alt="Mute" width="53px">
                            </a>
                        </button>
                    </div>
                    <div class="preview_information_container">
                        <div class="preview_duration">
                            <p>2:13:40</p>
                        </div>
                        <div class="preview_classifications">
                            <p>Thriller</p>
                            <p>Action</p>
                            <p>Thriller</p>
                        </div>
                        <p class="preview_description">Some description</p>
                    </div>
                    <div class="preview_recommendations_container">
                        <h3>Similar Titles</h3>
                        <div class="row preview_row">
                            <img src="../images/movie/jawan.png" alt="Jawan">
                            <img src="../images/movie/bro.png" alt="Bro">
                            <img src="../images/movie/malayam.png" alt="Malayalam Movie">
                            <img src="../images/movie/shankai.png" alt="Shankai">
                            <img src="../images/movie/shetty_polishetty.png" alt="Shetty Polishetty">
                            <img src="../images/movie/mismatched.png" alt="Mismatched">
                            <img src="../images/movie/kung_fu_panda.png" alt="Kung fu panda">
                            <img src="../images/movie/lost_in_space.png" alt="Lost in Space">
                            <img src="../images/movie/strong_girl_nam-soon.png" alt="Strong Girl Nam-Soon">
                            <img src="../images/movie/lucifer.png" alt="Lucifer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="category">
            <h3>Movies</h3>
            <div class="row watchlist_row">
                <img class="preview_container_trigger" src="../images/movie/the_night_agent.png" alt="the_night_agent">
                <img class="preview_container_trigger" src="../images/movie/kaala_paani.png" alt="kaala_paani">
                <img class="preview_container_trigger" src="../images/movie/bro.png" alt="bro">
                <img class="preview_container_trigger" src="../images/movie/mad.png" alt="mad">
                <img class="preview_container_trigger" src="../images/movie/spiderman_2.png" alt="spiderman_2">
                <img class="preview_container_trigger" src="../images/movie/insidious.png" alt="insidious">
                <img class="preview_container_trigger" src="../images/movie/hero.jpg" alt="hero">
                <img class="preview_container_trigger" src="../images/movie/f9.png" alt="f9">
                <img class="preview_container_trigger" src="../images/movie/extraction_2.png" alt="extraction_2">
                <img class="preview_container_trigger" src="../images/movie/annabelle_creation.png" alt="annabelle_creation">
                <img class="preview_container_trigger" src="../images/movie/life_on_our_planet.png" alt="life_on_our_planet Movie">
                <img class="preview_container_trigger" src="../images/movie/lost_in_space.png" alt="lost_in_space">
                <img class="preview_container_trigger" src="../images/movie/shetty_polishetty.png" alt="Shetty Polishetty">
                <img class="preview_container_trigger" src="../images/movie/mismatched.png" alt="Mismatched">
                <img class="preview_container_trigger" src="../images/movie/lucifer.png" alt="lucifer">
                <img class="preview_container_trigger" src="../images/movie/skyscraper.png" alt="skyscraper">
            </div>
        </section>
    </main>
    <footer>
        <img src="../images/illustration/footer.png" alt="Footer" width="100%">
    </footer>
</div>
</body>
</html>
<script>
    const preview_container = document.getElementsByClassName('preview_container')[0];
    const preview_triggers = document.getElementsByClassName('preview_container_trigger');
    var divToFade = document.getElementsByClassName('preview_container')[0];

    preview_container.addEventListener('click', () => {
        divToFade.style.display = 'none';
    });
    for (let i = 0; i < preview_triggers.length; i++) {
        preview_triggers[i].addEventListener('click', () => {
            divToFade.style.display = 'block';
        });
    }
</script>