<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Profile Selection</title>
    <link rel="stylesheet" href="../stylesheet/profileSelect.css">
</head>
<body>
<div class="profileSelectionWrapper">
    <h1 class="heading">Who's watching?</h1>
    <div class="profilesWrapper">
        <a href="../views/profileEdit.html" style="text-decoration: none"><div class="profile">
            <img src="../images/profile/chicken.jpg" alt="Steven">
            <p>Steven</p>
        </div></a>
        <a href="../views/profileEdit.html" style="text-decoration: none"><div class="profile">
            <img src="../images/profile/panda.jpg" alt="Will">
            <p>Will</p>
        </div></a>
        <a href="../views/profileEdit.html" style="text-decoration: none"><div class="profile">
            <img src="../images/profile/red.jpg" alt="Kids">
            <p>Kids</p>
        </div></a>
        <a href="../views/profileCreate.html" style="text-decoration: none"><div class="profile addProfile">
            <div class="addProfileIcon">+</div>
        </div></a>
    </div>
</div>
</body>
</html>