<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch List</title>
    <link rel="stylesheet" href="../stylesheet/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper">
    <header class="nav watchlist_nav">
        <div class="navbar_child">
            <img src="../images/logo/logo_full.png" alt="Logo" width="90">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>TV Shows</li>
                    <li>Movies</li>
                    <li>New & Popular</li>
                    <li>My List</li>
                </ul>
            </nav>
        </div>
        <div class="navbar_child">
            <img src="../images/illustration/notification.png" alt="Notification" width="30">
            <img src="../images/profile/chicken.jpg" alt="profile" width="30">
        </div>
    </header>
    <main class="watchlist_main">
        <section class="category">
            <h3>My List</h3>
            <div class="row watchlist_row">
                <img src="../images/movie/jawan.png" alt="Jawan">
                <img src="../images/movie/bro.png" alt="Bro">
                <img src="../images/movie/malayam.png" alt="Malayalam Movie">
                <img src="../images/movie/shankai.png" alt="Shankai">
                <img src="../images/movie/shetty_polishetty.png" alt="Shetty Polishetty">
                <img src="../images/movie/mismatched.png" alt="Mismatched">
                <img src="../images/movie/kung_fu_panda.png" alt="Kung fu panda">
                <img src="../images/movie/lost_in_space.png" alt="Lost in Space">
                <img src="../images/movie/strong_girl_nam-soon.png" alt="Strong Girl Nam-Soon">
                <img src="../images/movie/lucifer.png" alt="Lucifer">
            </div>
        </section>
    </main>
    <footer>
        <img src="../images/illustration/footer.png" alt="Footer" width="100%">
    </footer>
</div>
</body>
</html>